In [1]:
import pandas as pd

In [17]:
df = pd.read_excel('WeatherDataFor2018.xlsx')

In [40]:
df_Info=df.head(21)

In [41]:
df_Info

,Station Name: CASEMENT,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Station Height: 91 M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Latitude:53.306,Longitude: -6.439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,date: - Date and Time (utc),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,rain: - Precipitation Amount (mm)\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,temp: - Air Temperature (C)\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,wetb: - Wet Bulb Temperature (C),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,dewpt: - Dew Point Temperature (C),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,rhum: - Relative Humidity (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,vappr: - Vapour Pressure (hPa)\t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,msl: - Mean Sea Level Pressure (hPa),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,wdsp: - Mean Wind Speed (knot),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,wddir: - Predominant Wind Direction (degree),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ww: - Synop code for Present Weather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,w: - Synop code for Past Weather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,sun: - Sunshine duration (hours),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,vis: - Visibility (m),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,clht: - Cloud height (100's of ft) - 999 if ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,clamt: - Cloud amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ind: - Indicator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_Info = df_Info[['Station Name: CASEMENT', 'Unnamed: 1']]

In [13]:
df_Info

                               Station Name: CASEMENT         Unnamed: 1
0                               Station Height: 91 M                 NaN
1                                   Latitude:53.306    Longitude: -6.439
2                                                 NaN                NaN
3                                                 NaN                NaN
4                       date:  -  Date and Time (utc)                NaN
5             rain:  -  Precipitation Amount (mm)\t                  NaN
6                     temp:  -  Air Temperature (C)\t                NaN
7                  wetb:  -  Wet Bulb Temperature (C)                NaN
8    dewpt: -  Dew Point Temperature (C)                             NaN
9                     rhum:  -  Relative Humidity (%)                NaN
10                 vappr: -  Vapour Pressure (hPa)\t                 NaN
11            msl:   -  Mean Sea Level Pressure (hPa)                NaN
12                   wdsp:  -  Mean Wind Speed (knot)                NaN
13      wddir: -  Predominant Wind Direction (degree)                NaN
14           ww:    -  Synop code for Present Weather                NaN
15              w:     -  Synop code for Past Weather                NaN
16                sun:   -  Sunshine duration (hours)                NaN
17                           vis:   -  Visibility (m)                NaN
18  clht:  -  Cloud height (100's of ft) - 999 if ...                NaN
19                             clamt: -  Cloud amount                NaN

In [34]:
df_content = df.iloc[22:]

In [35]:
df_content.index -= 22

In [36]:
df_content.columns = df_content.iloc[0]
df_content = df_content[1:]

In [38]:
df_content.index -= 1

In [39]:
df_content.head(10)

,date,ind,rain,ind,temp,ind,wetb,dewpt,vappr,rhum,...,ind,wdsp,ind,wddir,ww,w,sun,vis,clht,clamt
0,2018-01-01 00:00:00,0,0.1,0,4,0,3.2,2,7,87,...,2,20,2,220,60,61,NaN,NaN,NaN,NaN
1,2018-01-01 01:00:00,2,0,0,4.3,0,3.5,2.4,7.2,87,...,2,22,2,220,21,62,NaN,NaN,NaN,NaN
2,2018-01-01 02:00:00,2,0,0,4.3,0,3.5,2.2,7.2,87,...,2,20,2,220,21,62,NaN,NaN,NaN,NaN
3,2018-01-01 03:00:00,0,0,0,4.7,0,3.9,2.6,7.4,87,...,2,20,2,220,1,61,NaN,NaN,NaN,NaN
4,2018-01-01 04:00:00,0,0,0,4.8,0,3.9,2.6,7.4,86,...,2,20,2,220,2,11,NaN,NaN,NaN,NaN
5,2018-01-01 05:00:00,0,0,0,4.7,0,3.7,2.2,7.2,84,...,2,20,2,220,2,11,NaN,NaN,NaN,NaN
6,2018-01-01 06:00:00,0,0,0,4.4,0,3.5,2.2,7.1,85,...,2,18,2,220,3,61,NaN,NaN,NaN,NaN
7,2018-01-01 07:00:00,0,0,0,4.1,0,3.3,2.2,7.1,87,...,2,14,2,220,2,11,NaN,NaN,NaN,NaN
8,2018-01-01 08:00:00,0,0,0,3.9,0,3.2,2.2,7.1,88,...,2,16,2,220,2,11,NaN,NaN,NaN,NaN
9,2018-01-01 09:00:00,0,0,0,4.3,0,3.5,2.3,7.2,87,...,2,16,2,210,2,11,NaN,NaN,NaN,NaN