In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import calendar
import numpy as np
import time
import pandas as pd
import dask.dataframe as dd
import datetime
import matplotlib.pyplot as plt
import numpy as np

# 1. Overview of the Dataset

## 1.1. trips data

In [2]:
df_trips = pd.read_csv('/Users/ziyingwang/Documents/UCD/Summer/tmp/data/rt_trips_DB_2018.txt', sep=';',error_bad_lines=False)

In [3]:
# print the number of rows and features in the trips dataset
num_rows = df_trips.shape[0]
features = df_trips.shape[1]
print(f"The dataset has {num_rows} rows with {features} features.")

The dataset has 2182637 rows with 16 features.

In [4]:
# print the first 5 rows
df_trips.head(5)

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"
1,DB,07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2580260,"
2,DB,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2448968,"
3,DB,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3094242,"
4,DB,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2526331,"

In [5]:
# print the feature names in this dataset
df_trips.keys()

Index(['DATASOURCE', 'DAYOFSERVICE', 'TRIPID', 'LINEID', 'ROUTEID',
       'DIRECTION', 'PLANNEDTIME_ARR', 'PLANNEDTIME_DEP', 'ACTUALTIME_ARR',
       'ACTUALTIME_DEP', 'BASIN', 'TENDERLOT', 'SUPPRESSED', 'JUSTIFICATIONID',
       'LASTUPDATE', 'NOTE'],
      dtype='object')

- DATASOURCE: Unique Bus Operator Code
- DAYOFSERVICE: Day of service. AVL data refer to one day of service that could be greater than 24 hours. For example a trip starting at 23:30 of 1st of April and ending at 00:30 of the 2nd of April could have the last AVL data tracked at “24:30 of 1st of April”. To express this “extended time” the interface requires the use of seconds past the beginning of the operation day. In our example the DayOfService is “01/04/2014” and the extended time is “88200” (= 24*60*60 + 30*60)
- TRIPID: Unique trip code
- LINEID: Unique line code
- ROUTEID: Unique route code
- DIRECTION: Route direction: IB = inbound / going / northbound / eastbound OB = outbound / back / southbound / westbound
- PLANNEDTIME_ARR: Planned departure time of the trip, in seconds
- PLANNEDTIME_DEP: Planned arrival time of the trip, in seconds
- ACTUALTIME_ARR: Actual departure time of the trip, in seconds
- ACTUALTIME_DEP: Actual arrival time of the trip, in seconds
- BASIN: Basin code
- TENDERLOT: Tender lot
- SUPPRESSED: The whole trip has been suppressed (0 =achieved, 1 = suppressed)
- JUSTIFICATIONID: Fault code
- LastUpdate: Time of the last record update
- Note: Free note

In [6]:
# print the number of unique values of the dayofservice feature
len(df_trips['DAYOFSERVICE'].unique())

360

In [7]:
# print the unique values of the dayofservice feature
df_trips['DAYOFSERVICE'].unique()

array(['07-FEB-18 00:00:00', '18-FEB-18 00:00:00', '16-MAR-18 00:00:00',
       '27-MAR-18 00:00:00', '11-MAR-18 00:00:00', '28-SEP-18 00:00:00',
       '26-SEP-18 00:00:00', '26-JUN-18 00:00:00', '21-JUN-18 00:00:00',
       '10-OCT-18 00:00:00', '11-OCT-18 00:00:00', '11-APR-18 00:00:00',
       '10-MAR-18 00:00:00', '20-SEP-18 00:00:00', '29-SEP-18 00:00:00',
       '22-JUN-18 00:00:00', '31-DEC-18 00:00:00', '07-JUL-18 00:00:00',
       '08-JUL-18 00:00:00', '24-SEP-18 00:00:00', '02-DEC-18 00:00:00',
       '09-JUL-18 00:00:00', '15-JUN-18 00:00:00', '16-OCT-18 00:00:00',
       '10-APR-18 00:00:00', '04-JUL-18 00:00:00', '12-APR-18 00:00:00',
       '30-DEC-18 00:00:00', '09-APR-18 00:00:00', '16-FEB-18 00:00:00',
       '21-FEB-18 00:00:00', '03-FEB-18 00:00:00', '12-FEB-18 00:00:00',
       '04-FEB-18 00:00:00', '22-MAR-18 00:00:00', '10-JUL-18 00:00:00',
       '20-APR-18 00:00:00', '19-JUN-18 00:00:00', '16-APR-18 00:00:00',
       '08-FEB-18 00:00:00', '28-OCT-18 00:00:00', '22-OCT-18 00:00:00',
       '17-FEB-18 00:00:00', '29-DEC-18 00:00:00', '01-FEB-18 00:00:00',
       '23-MAR-18 00:00:00', '11-JUL-18 00:00:00', '26-MAR-18 00:00:00',
       '09-JAN-18 00:00:00', '14-JAN-18 00:00:00', '29-APR-18 00:00:00',
       '30-SEP-18 00:00:00', '20-JUN-18 00:00:00', '12-JAN-18 00:00:00',
       '15-JAN-18 00:00:00', '27-DEC-18 00:00:00', '06-FEB-18 00:00:00',
       '25-MAR-18 00:00:00', '12-OCT-18 00:00:00', '19-MAR-18 00:00:00',
       '13-FEB-18 00:00:00', '15-FEB-18 00:00:00', '19-SEP-18 00:00:00',
       '13-JAN-18 00:00:00', '24-DEC-18 00:00:00', '28-DEC-18 00:00:00',
       '16-JUN-18 00:00:00', '24-APR-18 00:00:00', '23-APR-18 00:00:00',
       '10-JAN-18 00:00:00', '31-MAR-18 00:00:00', '20-MAR-18 00:00:00',
       '31-MAY-18 00:00:00', '14-APR-18 00:00:00', '24-MAY-18 00:00:00',
       '25-SEP-18 00:00:00', '03-MAR-18 00:00:00', '06-SEP-18 00:00:00',
       '06-MAR-18 00:00:00', '17-MAR-18 00:00:00', '30-JUL-18 00:00:00',
       '31-JUL-18 00:00:00', '08-MAR-18 00:00:00', '24-MAR-18 00:00:00',
       '13-APR-18 00:00:00', '30-MAY-18 00:00:00', '29-MAY-18 00:00:00',
       '09-MAR-18 00:00:00', '13-MAR-18 00:00:00', '13-SEP-18 00:00:00',
       '18-SEP-18 00:00:00', '25-JUN-18 00:00:00', '03-JUL-18 00:00:00',
       '09-SEP-18 00:00:00', '19-AUG-18 00:00:00', '14-MAR-18 00:00:00',
       '06-JAN-18 00:00:00', '28-JUN-18 00:00:00', '17-JUN-18 00:00:00',
       '28-MAY-18 00:00:00', '23-MAY-18 00:00:00', '22-MAY-18 00:00:00',
       '27-AUG-18 00:00:00', '05-JAN-18 00:00:00', '31-AUG-18 00:00:00',
       '24-AUG-18 00:00:00', '25-AUG-18 00:00:00', '28-AUG-18 00:00:00',
       '01-JUL-18 00:00:00', '05-JUL-18 00:00:00', '04-MAR-18 00:00:00',
       '18-JUN-18 00:00:00', '26-MAY-18 00:00:00', '09-AUG-18 00:00:00',
       '02-FEB-18 00:00:00', '08-JAN-18 00:00:00', '11-JAN-18 00:00:00',
       '30-AUG-18 00:00:00', '18-APR-18 00:00:00', '25-MAY-18 00:00:00',
       '22-JAN-18 00:00:00', '07-MAR-18 00:00:00', '06-JUL-18 00:00:00',
       '05-FEB-18 00:00:00', '26-AUG-18 00:00:00', '29-AUG-18 00:00:00',
       '26-APR-18 00:00:00', '30-APR-18 00:00:00', '16-MAY-18 00:00:00',
       '12-MAY-18 00:00:00', '10-SEP-18 00:00:00', '24-JUN-18 00:00:00',
       '06-JUN-18 00:00:00', '05-MAR-18 00:00:00', '09-OCT-18 00:00:00',
       '09-MAY-18 00:00:00', '12-JUL-18 00:00:00', '02-JUL-18 00:00:00',
       '03-OCT-18 00:00:00', '20-MAY-18 00:00:00', '12-SEP-18 00:00:00',
       '22-SEP-18 00:00:00', '21-SEP-18 00:00:00', '05-JUN-18 00:00:00',
       '19-MAY-18 00:00:00', '21-MAY-18 00:00:00', '05-AUG-18 00:00:00',
       '04-AUG-18 00:00:00', '25-JUL-18 00:00:00', '24-JUL-18 00:00:00',
       '04-OCT-18 00:00:00', '02-OCT-18 00:00:00', '03-JUN-18 00:00:00',
       '02-JUN-18 00:00:00', '03-AUG-18 00:00:00', '27-JUL-18 00:00:00',
       '28-JUL-18 00:00:00', '26-DEC-18 00:00:00', '05-OCT-18 00:00:00',
       '11-SEP-18 00:00:00', '15-SEP-18 00:00:00', '08-JUN-18 00:00:00',
       '07-JUN-18 00:00:00', '06-OCT-18 00:00:00', '21-APR-18 00:00:00',
       '15-AUG-18 00:00:00', '04-JUN-18 00:00:00', '26-JUL-18 00:00:00',
       '23-DEC-18 00:00:00', '29-JUL-18 00:00:00', '23-JUN-18 00:00:00',
       '30-JUN-18 00:00:00', '23-JAN-18 00:00:00', '08-OCT-18 00:00:00',
       '07-OCT-18 00:00:00', '11-AUG-18 00:00:00', '17-SEP-18 00:00:00',
       '17-MAY-18 00:00:00', '30-MAR-18 00:00:00', '29-MAR-18 00:00:00',
       '13-NOV-18 00:00:00', '28-MAR-18 00:00:00', '29-JUN-18 00:00:00',
       '17-JAN-18 00:00:00', '27-JUN-18 00:00:00', '27-OCT-18 00:00:00',
       '25-OCT-18 00:00:00', '15-NOV-18 00:00:00', '06-DEC-18 00:00:00',
       '08-NOV-18 00:00:00', '14-AUG-18 00:00:00', '10-AUG-18 00:00:00',
       '16-JAN-18 00:00:00', '19-JAN-18 00:00:00', '14-SEP-18 00:00:00',
       '28-FEB-18 00:00:00', '11-NOV-18 00:00:00', '12-NOV-18 00:00:00',
       '26-OCT-18 00:00:00', '31-OCT-18 00:00:00', '14-FEB-18 00:00:00',
       '03-DEC-18 00:00:00', '25-JAN-18 00:00:00', '08-AUG-18 00:00:00',
       '12-AUG-18 00:00:00', '13-AUG-18 00:00:00', '27-FEB-18 00:00:00',
       '26-FEB-18 00:00:00', '24-JAN-18 00:00:00', '23-SEP-18 00:00:00',
       '13-DEC-18 00:00:00', '15-OCT-18 00:00:00', '13-OCT-18 00:00:00',
       '05-NOV-18 00:00:00', '06-NOV-18 00:00:00', '17-DEC-18 00:00:00',
       '11-DEC-18 00:00:00', '23-FEB-18 00:00:00', '09-NOV-18 00:00:00',
       '27-SEP-18 00:00:00', '29-OCT-18 00:00:00', '14-DEC-18 00:00:00',
       '29-JAN-18 00:00:00', '06-AUG-18 00:00:00', '25-APR-18 00:00:00',
       '21-DEC-18 00:00:00', '07-AUG-18 00:00:00', '20-DEC-18 00:00:00',
       '23-OCT-18 00:00:00', '24-OCT-18 00:00:00', '27-APR-18 00:00:00',
       '01-AUG-18 00:00:00', '07-SEP-18 00:00:00', '22-DEC-18 00:00:00',
       '03-JAN-18 00:00:00', '19-FEB-18 00:00:00', '31-JAN-18 00:00:00',
       '19-DEC-18 00:00:00', '17-APR-18 00:00:00', '20-OCT-18 00:00:00',
       '04-JAN-18 00:00:00', '02-JAN-18 00:00:00', '21-MAR-18 00:00:00',
       '18-MAR-18 00:00:00', '19-OCT-18 00:00:00', '08-APR-18 00:00:00',
       '22-FEB-18 00:00:00', '06-MAY-18 00:00:00', '02-MAY-18 00:00:00',
       '06-APR-18 00:00:00', '23-NOV-18 00:00:00', '15-DEC-18 00:00:00',
       '17-NOV-18 00:00:00', '05-MAY-18 00:00:00', '23-JUL-18 00:00:00',
       '17-JUL-18 00:00:00', '04-APR-18 00:00:00', '20-FEB-18 00:00:00',
       '27-MAY-18 00:00:00', '16-DEC-18 00:00:00', '18-JUL-18 00:00:00',
       '07-APR-18 00:00:00', '16-JUL-18 00:00:00', '19-JUL-18 00:00:00',
       '21-NOV-18 00:00:00', '05-APR-18 00:00:00', '22-NOV-18 00:00:00',
       '12-DEC-18 00:00:00', '01-SEP-18 00:00:00', '20-JUL-18 00:00:00',
       '03-APR-18 00:00:00', '19-NOV-18 00:00:00', '05-SEP-18 00:00:00',
       '22-JUL-18 00:00:00', '01-MAY-18 00:00:00', '26-NOV-18 00:00:00',
       '23-AUG-18 00:00:00', '17-AUG-18 00:00:00', '21-AUG-18 00:00:00',
       '10-NOV-18 00:00:00', '01-DEC-18 00:00:00', '16-AUG-18 00:00:00',
       '01-OCT-18 00:00:00', '08-DEC-18 00:00:00', '01-JUN-18 00:00:00',
       '11-FEB-18 00:00:00', '16-NOV-18 00:00:00', '10-FEB-18 00:00:00',
       '07-DEC-18 00:00:00', '18-NOV-18 00:00:00', '01-NOV-18 00:00:00',
       '04-DEC-18 00:00:00', '05-DEC-18 00:00:00', '10-JUN-18 00:00:00',
       '18-JAN-18 00:00:00', '20-NOV-18 00:00:00', '12-JUN-18 00:00:00',
       '14-JUL-18 00:00:00', '03-SEP-18 00:00:00', '08-MAY-18 00:00:00',
       '11-MAY-18 00:00:00', '14-MAY-18 00:00:00', '08-SEP-18 00:00:00',
       '04-SEP-18 00:00:00', '11-JUN-18 00:00:00', '14-JUN-18 00:00:00',
       '21-JAN-18 00:00:00', '10-MAY-18 00:00:00', '26-JAN-18 00:00:00',
       '30-JAN-18 00:00:00', '20-JAN-18 00:00:00', '27-NOV-18 00:00:00',
       '30-NOV-18 00:00:00', '18-DEC-18 00:00:00', '03-MAY-18 00:00:00',
       '13-JUL-18 00:00:00', '15-JUL-18 00:00:00', '27-JAN-18 00:00:00',
       '24-NOV-18 00:00:00', '28-NOV-18 00:00:00', '28-JAN-18 00:00:00',
       '02-AUG-18 00:00:00', '16-SEP-18 00:00:00', '14-OCT-18 00:00:00',
       '09-FEB-18 00:00:00', '15-MAR-18 00:00:00', '30-OCT-18 00:00:00',
       '29-NOV-18 00:00:00', '09-JUN-18 00:00:00', '13-JUN-18 00:00:00',
       '12-MAR-18 00:00:00', '24-FEB-18 00:00:00', '22-APR-18 00:00:00',
       '07-MAY-18 00:00:00', '28-APR-18 00:00:00', '15-APR-18 00:00:00',
       '07-NOV-18 00:00:00', '02-NOV-18 00:00:00', '04-NOV-18 00:00:00',
       '03-NOV-18 00:00:00', '22-AUG-18 00:00:00', '19-APR-18 00:00:00',
       '18-AUG-18 00:00:00', '20-AUG-18 00:00:00', '02-SEP-18 00:00:00',
       '18-MAY-18 00:00:00', '25-FEB-18 00:00:00', '13-MAY-18 00:00:00',
       '04-MAY-18 00:00:00', '17-OCT-18 00:00:00', '14-NOV-18 00:00:00',
       '21-OCT-18 00:00:00', '18-OCT-18 00:00:00', '15-MAY-18 00:00:00',
       '25-NOV-18 00:00:00', '21-JUL-18 00:00:00', '01-APR-18 00:00:00',
       '01-JAN-18 00:00:00', '02-APR-18 00:00:00', '07-JAN-18 00:00:00'],
      dtype=object)

In [8]:
# print the number of unique values of the tripid feature
len(df_trips['TRIPID'].unique())

658964

Repeat three times on average. Is it uniqute to a route? Will explore later

In [9]:
# print the unique values of the tripid feature
df_trips['TRIPID'].unique()

array([6253783, 6262138, 6254942, ..., 6846574, 6762495, 6762008])

In [10]:
# print the number of unique values of the lineid feature
len(df_trips['LINEID'].unique())

130

In [11]:
# print the unique values of the lineid feature
df_trips['LINEID'].unique()

array(['68', '25B', '45A', '25A', '14', '77A', '39', '16', '40D', '27B',
       '142', '83', '130', '15', '46A', '33', '7', '39A', '49', '1',
       '123', '41', '67X', '59', '9', '40', '239', '76', '84', '53',
       '185', '151', '13', '15B', '65B', '29A', '61', '140', '79A', '38A',
       '31', '33B', '69', '44', '42', '67', '184', '238', '145', '17A',
       '32', '27A', '17', '27X', '18', '122', '54A', '66', '150', '56A',
       '37', '27', '15A', '65', '11', '47', '79', '83A', '63', '4', '120',
       '41C', '70', '84A', '220', '39X', '32X', '68A', '84X', '38', '102',
       '270', '51X', '33X', '75', '26', '66A', '31A', '111', '14C', '114',
       '76A', '44B', '161', '7A', '43', '25', '104', '33A', '16C', '42D',
       '31B', '66X', '31D', '33D', '41B', '40B', '7D', '46E', '38D',
       '118', '51D', '15D', '41A', '25D', '66B', '38B', '236', '7B',
       '41X', '69X', '68X', '25X', '40E', '70D', '116', '77X', '16D',
       '33E', '41D'], dtype=object)

In [12]:
# print the number of unique values of the routeid feature
len(df_trips['ROUTEID'].unique())

588

In [13]:
# print the unique values of the routeid feature
df_trips['ROUTEID'].unique()

array(['68_80', '25B_271', '45A_70', '25A_273', '14_15', '77A_28',
       '39_21', '16_20', '40D_102', '27B_34', '142_9', '83_22', '130_10',
       '15_16', '46A_74', '33_44', '7_70', '39A_40', '39A_43', '49_28',
       '1_40', '123_34', '41_7', '67X_38', '59_10', '9_5', '40_27',
       '239_28', '76_37', '130_11', '84_27', '53_20', '185_55', '41_3',
       '40D_103', '151_15', '13_68', '15B_60', '65B_66', '29A_15',
       '33_70', '61_106', '140_19', '14_16', '7_66', '79A_27', '38A_32',
       '46A_67', '31_18', '33B_58', '15B_61', '69_44', '44_33', '42_42',
       '44_36', '67_6', '184_29', '13_67', '238_15', '145_102', '17A_12',
       '83_19', '45A_64', '32_57', '27A_4', '185_54', '17_16', '27X_43',
       '18_3', '122_16', '25A_270', '122_17', '54A_12', '66_11', '7_72',
       '150_8', '56A_31', '37_15', '27_17', '27A_5', '42_44', '15A_84',
       '65_77', '11_43', '123_36', '145_105', '9_7', '150_9', '47_139',
       '79_11', '79A_28', '83A_20', '63_25', '33B_56', '27B_23', '4_10',
       '33_72', '120_9', '41C_78', '16_24', '70_67', '84A_3', '220_12',
       '7_73', '39X_1', '151_18', '33_45', '32X_77', '17_10', '68A_86',
       '27B_36', '1_37', '84X_58', '41C_80', '41C_79', '38_14', '102_9',
       '83A_23', '37_14', '270_42', '77A_29', '51X_64', '65B_65',
       '185_50', '151_17', '76_36', '33X_49', '75_20', '220_10', '26_29',
       '65_75', '270_44', '66A_37', '29A_14', '69_45', '31A_25', '111_8',
       '185_56', '84X_57', '185_57', '122_18', '15_17', '120_7', '27_9',
       '11_40', '40D_101', '14C_18', '67_4', '70_60', '65_72', '25B_274',
       '33X_46', '13_63', '40_31', '39_20', '114_5', '68_81', '26_28',
       '40_33', '40D_104', '4_12', '83_16', '68_78', '68_83', '68_85',
       '75_17', '75_19', '76A_28', '44B_61', '79_10', '31A_26', '13_70',
       '161_50', '32_58', '140_21', '7A_86', '38_13', '102_8', '38A_20',
       '7A_87', '13_76', '43_84', '25_269', '17A_13', '18_4', '66_13',
       '104_16', '15A_83', '11_42', '13_61', '84_30', '68_79', '13_65',
       '83A_26', '33A_25', '16C_28', '4_11', '65_74', '238_11', '47_136',
       '40D_106', '49_29', '239_26', '4_14', '42D_50', '7A_85', '38_9',
       '66A_38', '25_272', '39_22', '31B_45', '61_109', '66X_102',
       '66_18', '4_13', '46A_68', '17_12', '17A_17', '31D_51', '66A_34',
       '17_13', '67X_44', '83A_17', '33D_61', '27_19', '26_24', '17A_15',
       '43_88', '7A_89', '39X_3', '151_16', '145_91', '120_11', '104_15',
       '44_40', '184_28', '56A_30', '1_41', '16_23', '31_15', '41B_53',
       '61_108', '15_18', '185_60', '84X_60', '63_26', '38A_33', '185_63',
       '122_20', '53_21', '67X_43', '84X_62', '84X_56', '67X_47', '111_7',
       '40B_64', '63_28', '13_60', '75_18', '9_8', '27_20', '49_27',
       '7D_123', '46E_94', '38D_61', '45A_60', '17_11', '27B_35',
       '27B_40', '26_26', '69_30', '120_13', '142_13', '38_15', '37_13',
       '32X_76', '66X_94', '118_4', '31B_46', '17_15', '13_62', '11_41',
       '66_16', '84X_63', '27_12', '51D_50', '15D_62', '66X_104',
       '41A_22', '122_14', '7A_88', '25D_277', '41B_51', '40B_65',
       '114_6', '18_5', '16_22', '68_84', '33B_57', '84A_1', '39A_42',
       '15_10', '27B_26', '59_11', '63_30', '54A_11', '41_9', '46A_66',
       '185_59', '83_25', '84_28', '66A_36', '27B_27', '40B_63',
       '66X_103', '16_21', '66_17', '69_47', '66B_59', '151_19', '1_39',
       '75_21', '47_135', '7_74', '17A_11', '13_72', '140_22', '16C_29',
       '46A_73', '185_58', '31B_44', '45A_68', '66B_58', '38B_44',
       '17A_16', '17A_18', '220_15', '236_10', '33X_48', '83_18', '69_43',
       '84_32', '9_6', '13_28', '41B_52', '84_31', '120_12', '7B_93',
       '67X_46', '111_9', '76A_29', '1_38', '63_27', '51D_51', '145_104',
       '185_53', '142_8', '66X_92', '38A_23', '17_17', '27B_37',
       '41X_128', '13_69', '33A_23', '38B_45', '140_20', '13_73', '27_18',
       '41_10', '7_71', '31_17', '40D_105', '38_10', '122_19', '65_73',
       '16C_26', '17A_14', '63_31', '44B_60', '41_5', '15D_63', '40_32',
       '67X_45', '123_35', '33A_26', '13_64', '16C_27', '68_66', '65_76',
       '33_73', '31D_50', '83_24', '41X_121', '46A_63', '27A_6', '41_4',
       '41_6', '142_12', '102_10', '33A_27', '33A_22', '7D_121', '14_12',
       '69X_60', '66B_57', '39A_45', '185_51', '46A_69', '185_52',
       '27B_38', '122_21', '84A_4', '145_99', '123_37', '66X_93', '41_22',
       '77A_31', '41C_83', '53_23', '40_28', '14C_17', '17_19', '25D_275',
       '27X_42', '46A_65', '68X_88', '83_27', '46A_72', '145_106',
       '41X_125', '145_93', '41_8', '15A_85', '15_19', '7_67', '39_23',
       '13_66', '31_16', '46A_71', '84X_61', '47_138', '145_95', '43_89',
       '38D_68', '41_20', '41X_122', '41X_123', '41X_124', '68A_87',
       '15B_64', '41C_84', '70_69', '7B_91', '185_61', '61_107', '40_29',
       '161_51', '33B_59', '145_86', '41X_127', '33D_62', '13_71',
       '145_87', '39A_41', '66B_55', '25X_12', '236_9', '66X_106',
       '69_46', '38B_40', '40_30', '220_14', '68_82', '150_10', '66_14',
       '40E_91', '84_29', '17_18', '25X_11', '145_107', '46A_70',
       '111_10', '120_8', '66X_95', '17_14', '66X_105', '27B_39',
       '70D_70', '46A_77', '238_12', '47_137', '77A_30', '83_21',
       '122_15', '145_94', '15B_56', '116_1', '145_108', '46E_93',
       '145_88', '116_3', '77X_61', '26_27', '25X_10', '145_89', '33_69',
       '39A_44', '84A_2', '44_39', '42D_51', '27B_25', '7D_120', '40E_90',
       '33_71', '46A_62', '84X_52', '14_13', '51D_47', '43_85', '45A_69',
       '41X_110', '161_52', '185_62', '45A_67', '69X_59', '83_29',
       '13_74', '63_29', '41X_126', '13_75', '46A_64', '70D_71', '27A_7',
       '66X_101', '41B_58', '41_25', '67X_41', '118_3', '15_20',
       '41X_116', '84X_53', '67X_40', '41X_109', '67X_39', '33X_47',
       '67X_42', '41X_120', '83_28', '66X_100', '41X_108', '39X_2',
       '120_10', '25B_276', '66X_97', '142_10', '66X_96', '25X_9',
       '41X_117', '32X_74', '41X_118', '41X_119', '51X_63', '25X_7',
       '66X_99', '25X_5', '140_16', '84X_59', '41_21', '7D_122', '33B_60',
       '44_35', '53_22', '84X_65', '27_21', '84X_64', '41X_130', '16D_30',
       '41X_129', '77X_62', '41_24', '15D_65', '33E_74', '41D_27',
       '41D_26', '41X_131', '44_38', '14C_10', '33D_76'], dtype=object)

each line has multiple routes

In [14]:
# print the unique values of the direction feature
df_trips['DIRECTION'].unique()

array([1, 2])

In [15]:
# print the unique values of the basin feature
df_trips['BASIN'].unique()

array(['BasDef'], dtype=object)

In [16]:
# print the unique values of the tenderlot feature
df_trips['TENDERLOT'].unique()

array([nan])

In [17]:
# print the unique values of the suppressed feature
df_trips['SUPPRESSED'].unique()

array([nan,  0.])

In [18]:
# print the value counts of the suppressed feature values
df_trips['SUPPRESSED'].value_counts()

0.0    4333
Name: SUPPRESSED, dtype: int64

In [19]:
# print the unique values of the justificationid feature
df_trips['JUSTIFICATIONID'].unique()

array([    nan, 194642., 205589., ..., 231826., 231813., 231765.])

In [20]:
# print the unique values of the justificationid feature
df_trips['JUSTIFICATIONID'].unique()

array([    nan, 194642., 205589., ..., 231826., 231813., 231765.])

## 1.2. Vehicles Data

In [21]:
df_vehicles = pd.read_csv('/Users/ziyingwang/Documents/UCD/Summer/tmp/data/rt_vehicles_DB_2018.txt', sep=';',error_bad_lines=False)
# print the number of rows and features in the vehicles dataset
num_rows = df_vehicles.shape[0]
features = df_vehicles.shape[1]
print(f"The dataset has {num_rows} rows with {features} features.")

The dataset has 272622 rows with 7 features.

In [22]:
# print the first 5 rows
df_vehicles.head(5)

,DATASOURCE,DAYOFSERVICE,VEHICLEID,DISTANCE,MINUTES,LASTUPDATE,NOTE
0,DB,23-NOV-18 00:00:00,3303848,286166,58849,04-DEC-18 08:03:09,NaN
1,DB,23-NOV-18 00:00:00,3303847,259545,56828,04-DEC-18 08:03:09,NaN
2,DB,28-FEB-18 00:00:00,2868329,103096,40967,08-MAR-18 10:35:59,NaN
3,DB,28-FEB-18 00:00:00,2868330,147277,43599,08-MAR-18 10:35:59,NaN
4,DB,28-FEB-18 00:00:00,2868331,224682,40447,08-MAR-18 10:35:59,NaN

In [23]:
# Find and print the number of duplicate rows
df = df_vehicles
num_duplicate_rows = df.duplicated().sum()
print(f"There are {num_duplicate_rows} duplicated rows in this dataset (excluding the first row).")
num_duplicate_rows_inclusive = df[df.duplicated(keep=False)].shape[0]
print(f"There are {num_duplicate_rows_inclusive} duplicated rows in this dataset (including row that is duplicated).")

There are 0 duplicated rows in this dataset (excluding the first row).
There are 0 duplicated rows in this dataset (including row that is duplicated).

## 1.3. leavetimes data

In [25]:
df_leavetimes = pd.read_csv('/Users/ziyingwang/Documents/UCD/Summer/tmp/data/rt_leavetimes_DB_2018.txt', sep=';',error_bad_lines=False)

In [26]:
num_rows = df_leavetimes.shape[0]
features = df_leavetimes.shape[1]
print(f"The dataset has {num_rows} rows with {features} features.")

The dataset has 116949113 rows with 18 features.

In [27]:
df_leavetimes.head(5)

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,01-JAN-18 00:00:00,5972116,12,119,48030,48030,48012,48012,2693211,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
1,DB,01-JAN-18 00:00:00,5966674,12,119,54001,54001,54023,54023,2693267,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
2,DB,01-JAN-18 00:00:00,5959105,12,119,60001,60001,59955,59955,2693263,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
3,DB,01-JAN-18 00:00:00,5966888,12,119,58801,58801,58771,58771,2693284,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN
4,DB,01-JAN-18 00:00:00,5965960,12,119,56401,56401,56309,56323,2693209,NaN,NaN,NaN,NaN,NaN,NaN,08-JAN-18 17:21:10,NaN

In [28]:
df_leavetimes.tail(5)

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
116949108,DB,31-DEC-18 00:00:00,8588153,78,4383,28605,28605,28998,29013,3265721,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN
116949109,DB,31-DEC-18 00:00:00,8587459,78,4383,22695,22695,23247,23247,3265687,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN
116949110,DB,31-DEC-18 00:00:00,8586183,78,4383,51481,51481,52237,52283,2693229,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN
116949111,DB,31-DEC-18 00:00:00,8589374,23,7053,53659,53659,53525,53525,3265669,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN
116949112,DB,31-DEC-18 00:00:00,8589372,24,2088,46383,46383,46315,46325,3265669,NaN,NaN,NaN,NaN,NaN,NaN,16-JAN-19 18:27:21,NaN

In [29]:
# print the features of the dataset
df_leavetimes.keys()

Index(['DATASOURCE', 'DAYOFSERVICE', 'TRIPID', 'PROGRNUMBER', 'STOPPOINTID',
       'PLANNEDTIME_ARR', 'PLANNEDTIME_DEP', 'ACTUALTIME_ARR',
       'ACTUALTIME_DEP', 'VEHICLEID', 'PASSENGERS', 'PASSENGERSIN',
       'PASSENGERSOUT', 'DISTANCE', 'SUPPRESSED', 'JUSTIFICATIONID',
       'LASTUPDATE', 'NOTE'],
      dtype='object')

- DAYOFSERVICE: date
- TRIPID: unique trip code - there will be multiple trips in one route so it is used to differentiate each trip
- PROGRNUMBER: sequential position of the stop point in the trip - shows how far a specific route has gone
- STOPPOINTID: unique stop point code - might be number on the stop?
- PLANNEDTIME_ARR: planned arrival time at the stop point (seconds)
- PLANNEDTIME_DEP: planned departure time from the stop point (seconds)
- ACTUALTIME_ARR: actual arrival time at the stop point (seconds)
- ACTUALTIME_DEP: actual departure time from the stop point (seconds)
- VEHICLEID: unique vehicle code arriving at this stop point
- PASSENGERS: num of passengers on board
- PASSENGERSIN: num of boarded passengers
- PASSENGERSOUT: num of descended passengers
- DISTANCE: distance measured from the beginning of the trip
- SUPPRESSED: when the trip is partially suppressed it says that the previous link is suppressed (0 = achieved, 1 = suppressed)
- JUSTIFICATIONID: fault code

In [30]:
# print the unique values of the datasource feature
df_leavetimes['DATASOURCE'].unique()

array(['DB'], dtype=object)

In [31]:
# print the number of unique values for dayofservice
len(df_leavetimes['DAYOFSERVICE'].unique())

360

In [32]:
# print the number of unique values for tripid
len(df_leavetimes['TRIPID'].unique())

658961

Compared to trip datasets, 3 trips are missing?

In [33]:
# print the number of unique values for PROGRNUMBER
len(df_leavetimes['PROGRNUMBER'].unique())

109

In [34]:
# print the number of unique values for distance
len(df_leavetimes['DISTANCE'].unique())

1

In [35]:
# print the value counts of the distance feature values
df_leavetimes['DISTANCE'].value_counts()

Series([], Name: DISTANCE, dtype: int64)

If we want to do a full route estimation first, stop% variable cannot be calculated based on distance. We might calculate % based on travel time?

# 2. Routes and Stops Analysis

In [52]:
# make a new df of entries with only that trip id
df_single_route = df_trips[df_trips['TRIPID'] == 6253783]
df_single_route

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"
123487,DB,15-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87703.0,84665.0,BasDef,NaN,NaN,NaN,28-FEB-18 13:51:50,",2967409,"
246486,DB,16-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,88134.0,84604.0,BasDef,NaN,NaN,NaN,26-FEB-18 12:19:30,",2967409,"
1057217,DB,08-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87898.0,84616.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:20:01,",2967409,"
1135435,DB,12-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87480.0,84554.0,BasDef,NaN,NaN,NaN,28-FEB-18 13:18:29,",2967409,"
1192222,DB,05-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87043.0,84608.0,BasDef,NaN,NaN,NaN,28-FEB-18 11:29:31,",2967409,"
1310634,DB,09-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87788.0,84609.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:32:51,",2967409,"
1576426,DB,13-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87184.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 13:29:11,",2967409,"
1615621,DB,06-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87448.0,84548.0,BasDef,NaN,NaN,NaN,28-FEB-18 11:48:21,",2967409,"
1652270,DB,14-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87688.0,84599.0,BasDef,NaN,NaN,NaN,15-MAR-18 12:47:59,",2967409,"

In [53]:
# only keep one route
df_single_route = df_single_route[df_single_route['DAYOFSERVICE'] == '07-FEB-18 00:00:00']
df_single_route

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"

It seems that one tripid serves one routeid but is used on different days.  Pick one day for further analysis.

In [49]:
# make a new df of entries with only that trip id
df_single_route_leavetimes = df_leavetimes[df_leavetimes['TRIPID'] == 6253783]
df_single_route_leavetimes

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
12066788,DB,16-FEB-18 00:00:00,6253783,40,4379,86107,86107,86752,86752,2693290,NaN,NaN,NaN,NaN,NaN,NaN,26-FEB-18 12:19:30,NaN
12066790,DB,16-FEB-18 00:00:00,6253783,41,1968,86198,86198,86859,86859,2693290,NaN,NaN,NaN,NaN,NaN,NaN,26-FEB-18 12:19:30,NaN
12066792,DB,16-FEB-18 00:00:00,6253783,42,1969,86215,86215,86868,86868,2693290,NaN,NaN,NaN,NaN,NaN,NaN,26-FEB-18 12:19:30,NaN
12066795,DB,16-FEB-18 00:00:00,6253783,44,1971,86277,86277,86951,86961,2693290,NaN,NaN,NaN,NaN,NaN,NaN,26-FEB-18 12:19:30,NaN
12066797,DB,16-FEB-18 00:00:00,6253783,45,2114,86379,86379,87122,87130,2693290,NaN,NaN,NaN,NaN,NaN,NaN,26-FEB-18 12:19:30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19569148,DB,07-FEB-18 00:00:00,6253783,31,1952,85789,85789,86004,86019,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
19569149,DB,07-FEB-18 00:00:00,6253783,41,1968,86198,86198,86451,86463,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
19569150,DB,07-FEB-18 00:00:00,6253783,51,3378,86602,86602,86898,86910,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
19569151,DB,07-FEB-18 00:00:00,6253783,60,3386,86900,86900,87209,87209,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
19569152,DB,07-FEB-18 00:00:00,6253783,71,3398,87217,87217,87501,87501,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN

In [51]:
df_single_route_leavetimes = df_single_route_leavetimes[df_single_route_leavetimes['DAYOFSERVICE'] == '07-FEB-18 00:00:00']
df_single_route_leavetimes

,DATASOURCE,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,PASSENGERS,PASSENGERSIN,PASSENGERSOUT,DISTANCE,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
13382799,DB,07-FEB-18 00:00:00,6253783,1,4495,84600,84600,84600,84600,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
13382800,DB,07-FEB-18 00:00:00,6253783,4,1278,84713,84713,84827,84838,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
13382801,DB,07-FEB-18 00:00:00,6253783,5,1282,84827,84827,84917,84928,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
13382802,DB,07-FEB-18 00:00:00,6253783,6,4456,84882,84882,84970,84970,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
13382803,DB,07-FEB-18 00:00:00,6253783,7,1284,84921,84921,84991,84991,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19569148,DB,07-FEB-18 00:00:00,6253783,31,1952,85789,85789,86004,86019,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
19569149,DB,07-FEB-18 00:00:00,6253783,41,1968,86198,86198,86451,86463,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
19569150,DB,07-FEB-18 00:00:00,6253783,51,3378,86602,86602,86898,86910,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
19569151,DB,07-FEB-18 00:00:00,6253783,60,3386,86900,86900,87209,87209,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN
19569152,DB,07-FEB-18 00:00:00,6253783,71,3398,87217,87217,87501,87501,2534790,NaN,NaN,NaN,NaN,NaN,NaN,28-FEB-18 12:05:11,NaN

In [54]:
df_single_route_stop['STOPPOINTID'].unique()

array([4495, 1278, 1282, 4456, 1284, 1285, 1286, 1288, 1360, 1362, 1363,
       1364, 1365, 1366, 1367, 1369, 1370, 1372, 1373, 1374, 1946, 1947,
       1948, 1949, 1950, 1951, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 4379, 1969, 1970, 1971, 2114, 2115, 6011, 2133, 6244, 2134,
       3379, 4669, 2165, 2166, 2167, 3383, 3384, 3385, 3387, 4559, 3389,
       3390, 6119, 3392, 3393, 3396, 3397, 3394, 3399, 1289, 1371, 1952,
       1968, 3378, 3386, 3398])

The route has 71 stops. This number is quite large. May be this route can be selected as single route estimation model in later machine learning training.